@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap'); 

@font-face {
        font-family: 'breadFont-webfont';
        src: url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap') !important;
    }



h1{

    font: 'breadFont-webfont' !important;
    text-align: center;
    color: wheat !important;
    font-size: 70px !important;
}


@keyframes spin {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}


#homebutton {
    text-align: center;
    animation: spin 3s infinite linear;
    border: none;
    background-color: transparent;
    size: large;
}

#breadRain {
  position: absolute;
  top: -100px;
  width: 90vw;
}

.bread{
    block-size: 50px;
    animation: fall linear;
    
}

@keyframes fall {
  0% {
    transform: translateY(-100px) rotate(0deg);
  }
  100% {
    transform: translateY(110vh) rotate(360deg);
  }
}


