@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap'); 

@font-face {
        font-family: 'breadFont-webfont';
        src: url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap') !important;
    }



h1{

    font: 'breadFont-webfont' !important;
    text-align: center;
    color: wheat !important;
    font-size: 70px !important;
}


@keyframes spin {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}


#homebutton {
    text-align: center;
    animation: spin 3s infinite linear;
    border: none;
    background-color: transparent;
    size: large;
}

body{
    background-image: url(bread.gif);
    background-size: cover;
}
