h1{
    text-align: center;
    font-style: bold;
    font-size: 67px;
}

@keyframes spin {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

#homebutton {
    text-align: center;
    animation: spin 3s infinite linear;
}