<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Flask Site</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Hello from Flask!</h1>
    <button id="clickMe">Click me</button>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <picture> 
        <img src="static\Dog.jpg" alt="Dog">
    </picture>
    <a href="https://www.cineby.app/tv/1434/15/6?play=true"> Steam</a>
    <iframe> id=”player” type=”text/html” width=”640″ height=”390″ src="https://www.cineby.app/tv/1434/15/6?play=true" frameborder=”0″></iframe>
    <a href="/about"> about</a>
    <ul>
        <li>
        cookies  
         milk 
        </li>
    </ul>
</body>
</html>
